version: '3'

services:
  payload:
    image: node:18-alpine
    ports:
      - '3001:3001'
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    working_dir: /app/
    command: sh -c "yarn install && yarn build && yarn start"
    depends_on:
      - mongo
    env_file:
      - .env
    networks:
      dokploy-network: null
      app-network:
        ipv4_address: 10.21.20.33

  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db
    logging:
      driver: none
    networks:
      dokploy-network: null
      app-network:
        ipv4_address: 10.21.20.32

volumes:
  data:
  node_modules:

networks:
  app-network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.21.20.0/24